<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Response Fragment</title>
</head>
<body>
<div th:fragment="eventresponse">
    <div th:if="${loginStatusCode}" th:switch="${loginStatusCode}">
        <script th:case="400">M.toast({html: "That account information isn't valid!", classes: "toast"})</script>
    </div>
    <div th:if="${registrationStatusCode}" th:switch="${registrationStatusCode}">
        <script th:case="201">M.toast({html: "Success!  You are also logged in!", classes: "toast"})</script>
        <script th:case="400">M.toast({html: "That account information isn't valid!", classes: "toast"})</script>
        <script th:case="409">M.toast({html: "That login already exists!", classes: "toast"})</script>
    </div>
    <div th:if="${addWisdomStatusCode}" th:switch="${addWisdomStatusCode}">
        <script th:case="201">M.toast({html: "Your wisdom was added!", classes: "toast"})</script>
        <script th:case="400">M.toast({html: "That's not a valid wisdom!", classes: "toast"})</script>
        <script th:case="409">M.toast({html: "That wisdom already exists!", classes: "toast"})</script>
    </div>
    <div th:if="${addVoteStatusCode}" th:switch="${addVoteStatusCode}">
        <script th:case="201">M.toast({html: "Your vote was added successfully!", classes: "toast"})</script>
        <script th:case="400">M.toast({html: "That's not a valid vote!", classes: "toast"})</script>
        <script th:case="409">M.toast({html: "That vote exists already and was not added.", classes: "toast"})</script>
    </div>
</div>
</body>
</html>