<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Response Fragment</title>
</head>
<body>
<div th:fragment="eventresponse">
    <div th:if="${loginStatusCode}" th:switch="${loginStatusCode}">
        <script th:case="400">M.toast({html: "[[#{text.eventResponse.login.invalid}]]", classes: "toast"})</script>
    </div>
    <div th:if="${logoutStatusCode}" th:switch="${logoutStatusCode}">
        <script th:case="200">M.toast({html: "[[#{text.eventResponse.logout.success}]]", classes: "toast"})</script>
    </div>
    <div th:if="${registrationStatusCode}" th:switch="${registrationStatusCode}">
        <script th:case="201">M.toast({html: "[[#{text.eventResponse.registrationAdd.success}]]", classes: "toast"})</script>
        <script th:case="400">M.toast({html: "[[#{text.eventResponse.registrationAdd.invalid}]]", classes: "toast"})</script>
        <script th:case="409">M.toast({html: "[[#{text.eventResponse.registrationAdd.conflict}]]", classes: "toast"})</script>
    </div>
    <div th:if="${addWisdomStatusCode}" th:switch="${addWisdomStatusCode}">
        <script th:case="201">M.toast({html: "[[#{text.eventResponse.wisdomAdd.success}]]", classes: "toast"})</script>
        <script th:case="400">M.toast({html: "[[#{text.eventResponse.wisdomAdd.invalid}]]", classes: "toast"})</script>
        <script th:case="409">M.toast({html: "[[#{text.eventResponse.wisdomAdd.conflict}]]", classes: "toast"})</script>
    </div>
    <div th:if="${addVoteStatusCode}" th:switch="${addVoteStatusCode}">
        <script th:case="201">M.toast({html: "[[#{text.eventResponse.voteAdd.success}]]", classes: "toast"})</script>
        <script th:case="400">M.toast({html: "[[#{text.eventResponse.voteAdd.invalid}]]", classes: "toast"})</script>
        <script th:case="409">M.toast({html: "[[#{text.eventResponse.voteAdd.conflict}]]", classes: "toast"})</script>
    </div>
</div>
</body>
</html>