<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
<a th:fragment="scriptimports">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
            type="text/javascript"></script>
    <script src="/scripts/materialize-auto-init.js" type="text/javascript"></script>
</a>
</body>
<footer th:fragment="footer">
    &copy;2018 absolutely no one. Source is open at <a th:href="#{upwiseRepoUrl}">github.com/sapphon/upwise</a>.  Issues?  Report them <a th:href="#{upwiseIssuesUrl}">here</a>.
</footer>
</html>