<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
<a th:fragment="scriptimports">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
            type="text/javascript"></script>
    <script src="/scripts/materialize-auto-init.js" type="text/javascript"></script>
    <div th:replace="fragments/eventresponse :: eventresponse"></div>
</a>
</body>
<footer th:fragment="footer">
    <span th:text="#{text.sourceControlUrlPreamble}">(Source link follows this placeholder) </span>
    <a th:href="#{url.sourceControlUrl}" th:text="#{text.sourceControlUrlPresentation}">(source control url placeholder)</a>.
    <span th:text="#{text.issuesUrlPreamble}">(Issues link follows this placeholder)</span>
    <a th:href="#{url.issuesUrl}" th:text="#{text.issuesUrlPresentation}">(issues url placeholder)</a></span>.
    <span th:text="#{text.copyright}">(copyright information placeholder)</span>
</footer>
</html>