<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>
</head>
<body>
<div class="navbar-fixed" th:fragment="navbar">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/wisdomleaderboard" class="brand-logo">UPWISE</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/addwisdom">Submit</a></li>
                    <li><a href="/wisdomleaderboard">Leaderboard</a></li>
                    <li><a href="/randomwisdom">Random</a></li>
                    <li><a href="/wisdomsearch">Search</a></li>
                    <li><a sec:authorize="isAuthenticated()" href="/logout">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
</body>
</html>