<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a Vote - Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/wisdomparade" class="brand-logo">UPWISE</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/addwisdom">Submit</a></li>
                <li><a href="/wisdomleaderboard">Leaderboard</a></li>
                <li><a href="/wisdomparade">All</a></li>
                <li><a href="/wisdomsearch">Search</a></li>
            </ul>
        </div>
    </nav>
</div>
<h1>Add a Vote - Result</h1>
<div th:switch="${statusCode}">
    <h2 th:case="201">Your vote was added successfully!</h2>
    <h2 th:case="400">That's not a valid vote!</h2>
    <h2 th:case="409">That vote exists already and was not added.</h2>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js" type="text/javascript"></script>
</body>
</html>