<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Add Wisdom')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Add a Wisdom</h1>
<div class="container">
    <form action="#" th:action="@{/addwisdom}" th:object="${wisdomToAdd}" method="post">
        <p>Wisdom: <input type="text" th:field="*{wisdomContent}" th:placeholder="#{placeholder.wisdomContent}"/></p>
        <p>Attribution: <input type="text" th:field="*{attribution}" th:placeholder="#{placeholder.wisdomAttribution}"/></p>
        <p>Your username: <input type="text" th:field="*{addedByUsername}" th:placeholder="#{placeholder.optionalUsername}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
        type="text/javascript"></script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>