<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Add Wisdom Result')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
<div th:switch="${statusCode}">
    <h2 th:case="201">Your wisdom was added successfully!</h2>
    <h2 th:case="400">That's not a valid wisdom!</h2>
    <h2 th:case="409">That wisdom exists already and was not added.</h2>
</div>
</main>
<a th:replace="fragments/footer :: scriptimports"></a>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>