<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Add Wisdom')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
<div class="container">
    <h2>Submit New Wisdom</h2>
    <form action="#" th:action="@{/addwisdom}" th:object="${wisdomToAdd}" method="post">
        <p>Wisdom: <input type="text" th:field="*{wisdomContent}" th:placeholder="#{placeholder.wisdomContent}" tabindex="1"/></p>
        <p>Attribution: <input type="text" th:field="*{attribution}" th:placeholder="#{placeholder.wisdomAttribution}" tabindex="2"/></p>
        <p><input type="submit" value="Submit" tabindex="3"/> <input type="reset" value="Reset" tabindex="4"/></p>
    </form>
</div>
</main>
<a th:replace="fragments/footer :: scriptimports"></a>
<div th:if="${statusCode}" th:switch="${statusCode}">
    <script th:case="201">M.toast({html: "Your wisdom was added!", classes: "toast"})</script>
    <script th:case="400">M.toast({html: "That's not a valid wisdom!", classes: "toast"})</script>
    <script th:case="409">M.toast({html: "That wisdom already exists!", classes: "toast"})</script>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>