<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Choose New Upwise Password')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
    <div class="container">
        <h2>Choose a New Upwise Password</h2>
        <form action="#" th:action="@{/choosenewpassword{token}(token=${passwordResetToken})}" th:object="${newPasswordRequest}" th:method="post">
            <p>Username: <input type="text" name="username" th:placeholder="#{placeholder.username}"
                                  th:field="*{loginUsername}" tabindex="1"/></p>
            <p>New Password: <input type="password" name="desiredNewPassword" th:placeholder="#{placeholder.password}"
                                th:field="*{desiredNewPassword}" tabindex="2"/></p>
            <p>Confirm New Password: <input type="password" name="confirmNewPassword" th:placeholder="#{placeholder.password}"
                                th:field="*{confirmNewPassword}" tabindex="3"/></p>
            <p><input type="submit" value="Submit" tabindex="4"/> <input type="reset" value="Clear" tabindex="5"/></p>
        </form>
    </div>

</main>
<a th:replace="fragments/footer :: scriptimports"></a>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>