<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Reset an Upwise Password')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
    <div class="container">
        <h2>Reset an Upwise Password</h2>
        <form action="#" th:action="@{/forgotpassword}" th:object="${passwordResetRequest}" th:method="post">
            <p>Email: <input type="email" name="upwiseEmail" th:placeholder="#{placeholder.email}"
                                  th:field="*{email}" tabindex="1"/></p>
            <p><input type="submit" value="Submit" tabindex="2"/> <input type="reset" value="Clear" tabindex="3"/></p>
        </form>
    </div>

</main>
<a th:replace="fragments/footer :: scriptimports"></a>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>