<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Reset Password Result')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
    <div class="container">
        <h2>Password Reset In Progress</h2>
        <p>A password reset email has been sent to your address.</p>
    </div>

</main>
<a th:replace="fragments/footer :: scriptimports"></a>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>