<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='Log In to an Upwise Account')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
<div class="container">
    <h2>Log In to Upwise</h2>
    <form action="#" th:action="@{/login}" th:method="post">
        <p>Login Name: <input type="text" name="upwiseLoginUsername" th:placeholder="#{placeholder.username}"/></p>
        <p>Password: <input type="password" name="upwisePassword" th:placeholder="#{placeholder.password}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</main>
<a th:replace="fragments/footer :: scriptimports"></a>
<div th:if="${statusCode}" th:switch="${statusCode}">
    <script th:case="201">M.toast({html: "Your username was registered!", classes: "toast"})</script>
    <script th:case="400">M.toast({html: "That account information isn't valid!", classes: "toast"})</script>
    <script th:case="409">M.toast({html: "That login already exists!", classes: "toast"})</script>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>