<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle='User Dashboard')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
    <div class="container">
        <h2 th:text="'User History for: ' + ${userDisplayName}">User History for Bob Robertson</h2>
        <h2 th:text="#{title.userDashboard.submitted}">Wisdoms Submitted</h2>
        <div class="wisdomsSubmittedList" th:unless="${#lists.isEmpty(allWisdomsSubmitted)}">
            <table>
                <thead>
                <tr>
                    <th th:text="#{wisdom.wisdomContent}">Wisdom</th>
                    <th th:text="#{wisdom.attribution}">Wise Person</th>
                    <th th:text="#{wisdom.addedDate}">Submitted On</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wisdom : ${allWisdomsSubmitted}">
                    <td><a th:href="@{'/viewwisdom?wisdomContent=' + ${wisdom.wisdomContent} + '&wisdomAttribution=' + ${wisdom.attribution}}" th:text="${wisdom.wisdomContent}">A good programmer is someone who looks both ways before
                        crossing a
                    one-way street.</a>
                    </td>
                    <td th:text="${wisdom.attribution}">Doug Linder</td>
                    <td th:text="${wisdom.timeAdded}">January 1, 1970 01:00:00 GMT</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="wisdomsSubmittedList" th:if="${#lists.isEmpty(allWisdomsSubmitted)}">
            <p th:if="${#authentication.name} == ${userLoginName}">You haven't submitted any wisdom yet. Do so <a href="/addwisdom">here</a>.</p>
            <p th:unless="${#authentication.name} == ${userLoginName}">This user hasn't submitted any wisdom yet.</p>
        </div>
        <h2 th:text="#{title.userDashboard.votedFor}">Wisdoms Voted For</h2>
        <div class="wisdomsVotedForList" th:unless="${#lists.isEmpty(allWisdomsVotedFor)}">
            <table>
                <thead>
                <tr>
                    <th th:text="#{wisdom.wisdomContent}">Wisdom</th>
                    <th th:text="#{wisdom.attribution}">Wise Person</th>
                    <th th:text="#{wisdom.addedBy}">Submitted By</th>
                    <th th:text="#{wisdom.addedDate}">Submitted On</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wisdom : ${allWisdomsVotedFor}">
                    <td><a th:href="@{'/viewwisdom?wisdomContent=' + ${wisdom.wisdomContent} + '&wisdomAttribution=' + ${wisdom.attribution}}" th:text="${wisdom.wisdomContent}">A good programmer is someone who looks both ways before
                        crossing a
                        one-way street.</a></td>
                    <td th:text="${wisdom.attribution}">Doug Linder</td>
                    <td><a th:text="${wisdom.addedByDisplayName}" th:href="@{'/user/' + ${wisdom.addedByUsername}}">intellijames</a></td>
                    <td th:text="${wisdom.timeAdded}">January 1, 1970 01:00:00 GMT</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="wisdomsVotedForList" th:if="${#lists.isEmpty(allWisdomsVotedFor)}">
            <p th:if="${#authentication.name} == ${userLoginName}">You haven't voted for any wisdoms yet. Find one you might like <a href="/wisdomleaderboard">here</a>.</p>
            <p th:unless="${#authentication.name} == ${userLoginName}">This user hasn't voted for any wisdoms yet.</p>
        </div>
    </div>

</main>
<a th:replace="fragments/footer :: scriptimports"></a>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>