<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wisdom Leaderboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="wisdomlist" th:unless="${#lists.isEmpty(allWisdoms)}">
    <h1 th:text="#{title.leaderboard}">Wisdom Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th th:text="#{wisdom.wisdomContent}">Wisdom</th>
                <th th:text="#{wisdom.attribution}">Wise Person</th>
                <th th:text="#{wisdom.addedBy}">Submitted By</th>
                <th th:text="#{wisdom.addedDate}">Submitted On</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="wisdom : ${allWisdoms}">
                <td th:text="${wisdom.wisdomContent}">A good programmer is someone who looks both ways before crossing a one-way street.</td>
                <td th:text="${wisdom.attribution}">Doug Linder</td>
                <td th:text="${wisdom.addedByUsername}">intellijames</td>
                <td th:text="${wisdom.timeAdded}">January 1, 1970 01:00:00 GMT</td>
            </tr>
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js" type="text/javascript"></script>
</body>
</html>