html{
/*  --color-bg1: #57467b;
    --color-bg2: #537a5a;
    --color-bg3: #909590;
    --color-1: #8b85c1;
    --color-2: #9ae19d; */
    /*Joker colors*/

   /* --color-bg1: #502419;
    --color-bg2: #7ea172;
    --color-bg3: #c7cb85;
    --color-1: #e7a977;
    --color-2: #ebbe9b;*/
    /*Summer-to-fall colors*/

    /*--color-bg1: #1c1c1c;
    --color-bg2: #daddd8;
    --color-bg3: #ecebe4;
    --color-1: #eef0f2;
    --color-2: #fafaff;*/
    /*weird monochrome colors*/


    /*--color-bg1: #87b38d;
    --color-bg2: #22031f;
    --color-bg3: #cc76a1;
    --color-1: #dd9296;
    --color-2: #f2b7c6;*/
    /*Pepto Bismol colors*/


    --color-bg1: #d4e4bc;
    --color-bg2: #96acb7;
    --color-bg3: #36558f;
    --color-1: #40376e;
    --color-2: #48233c;
    /*cool colors*/


}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--color-bg1);
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: var(--color-bg3);
}

a, th {
    color: var(--color-2) !important;
}

input{
    color: var(--color-bg3);
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-1);
    box-shadow: 0 1px 0 0 var(--color-1);
}

::placeholder{
    color: var(--color-2);
    opacity: 1;
}

h1, h2, p, td{
    color: var(--color-1);
}

h3, h4, h5, h6{
    color: var(--color-bg2);
}

.wisdomlist, .wisdomsSubmittedList, .wisdomsVotedForList{
    background-color: var(--color-bg3);
}

.nav-wrapper {
    background-color: var(--color-bg2);
    color: var(--color-2);
}

.card {
    background-color: var(--color-bg2);
    color: var(--color-1);
}

.wisdomSecondaryInfo, .brand-logo {
    margin-left: 20px;
}

.vert-container {
    margin-top: 10%;
}

.voterbadges {
    margin-right: 20px;
}

.voterbadges a {
    margin-right: 10px;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.josefin {
    font-family: 'Josefin Slab', serif;
}

.glegoo {
    font-family: 'Glegoo', serif;
}

.imfell {
    font-family: 'IM Fell English SC', serif;
}

.italiana {
    font-family: 'Italiana', serif;
}

.almendra {
    font-family: 'Almendra SC', serif;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }
}