html{
    --color-bg1: #d4e4bc;
    --color-bg2: #96acb7;
    --color-1: #40376e;
    --color-2: #48233c;
    --color-placeholder: #9094a7;


}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--color-bg1);
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: var(--color-bg2);
}

a, th {
    color: var(--color-2) !important;
}

.user-button{
    color: var(--color-2) !important;
    background-color: var(--color-bg2) !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-1);
    box-shadow: 0 1px 0 0 var(--color-1);
}

::placeholder{
    color: var(--color-2);
    opacity: 1;
}

h1, h2, p, td{
    color: var(--color-1);
}

h3, h4, h5, h6{
    color: var(--color-2);
}

button, .vote-up-button{
    color: var(--color-1) !important;
    background-color: var(--color-bg1) !important;
}

.vote-form-div-color2 .vote-up-button{
    color: var(--color-2) !important;
    background-color: var(--color-bg2) !important;
}

.toast{
    color: var(--color-2) !important;
    background-color: var(--color-bg2) !important;
}

.nav-wrapper {
    background-color: var(--color-bg2);
    color: var(--color-2);
}

.card {
    background-color: var(--color-bg2);
    color: var(--color-1);
}

.wisdomSecondaryInfo, .brand-logo, .submitter-link {
    margin-left: 20px;
}

.submitter-link{
    color: var(--color-1);
}

.vert-container {
    margin-top: 5%;
}

.voterbadges {
    margin-right: 20px;
}

.voterbadges a {
    margin-right: 10px;
}


.vote-form-div-color2 .vote-button-label {
    color: var(--color-1);
    background-color: var(--color-bg1)
}

.vote-button-label {
    color: var(--color-2);
    background-color: var(--color-bg2)
}
/*region font_definitions*/
.cinzel {
    font-family: 'Cinzel', serif;
}

.josefin {
    font-family: 'Josefin Slab', serif;
}

.glegoo {
    font-family: 'Glegoo', serif;
}

.imfell {
    font-family: 'IM Fell English SC', serif;
}

.italiana {
    font-family: 'Italiana', serif;
}

.almendra {
    font-family: 'Almendra SC', serif;
}
/*endregion*/

/*region placeholder_color_browser_switch*/
::-webkit-input-placeholder {
    color:    var(--color-placeholder);
}
:-moz-placeholder {
    color:    var(--color-placeholder);
    opacity:  1;
}
::-moz-placeholder {
    color:    var(--color-placeholder);
    opacity:  1;
}
:-ms-input-placeholder {
    color:    var(--color-placeholder);
}
::-ms-input-placeholder {
    color:    var(--color-placeholder);
}

::placeholder {
    color:    var(--color-placeholder);
}
/*endregion*/

/*region screen_size*/
@media screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }
}
/*endregion*/